
<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.webServer>

        <!--
            IIS should serve files that physically exist.
            Requests that do not exist are sent to Next.js.
        -->

        <rewrite>

            <rules>

                <!--
                    UPLOADS
                    Do NOT send uploaded files to Next.js.
                    IIS serves /uploads directly.
                -->
                <rule
                    name="Uploads"
                    stopProcessing="true">

                    <match
                        url="^uploads/(.*)$"
                        />

                    <action
                        type="None"
                        />

                </rule>


                <!--
                    NEXT.JS
                    All other requests go to Node.js.
                -->
                <rule
                    name="NextJS"
                    stopProcessing="true">

                    <match
                        url="(.*)"
                        />

                    <action
                        type="Rewrite"
                        url="http://127.0.0.1:3000/{R:1}"
                        />

                </rule>

            </rules>

        </rewrite>


        <!--
            Common image MIME types.
            If IIS reports duplicate MIME mapping errors,
            remove this entire staticContent section.
        -->

        <staticContent>

            <mimeMap
                fileExtension=".jpg"
                mimeType="image/jpeg"
                />

            <mimeMap
                fileExtension=".jpeg"
                mimeType="image/jpeg"
                />

            <mimeMap
                fileExtension=".png"
                mimeType="image/png"
                />

            <mimeMap
                fileExtension=".gif"
                mimeType="image/gif"
                />

            <mimeMap
                fileExtension=".webp"
                mimeType="image/webp"
                />

            <mimeMap
                fileExtension=".svg"
                mimeType="image/svg+xml"
                />

        </staticContent>

    </system.webServer>

</configuration>

